/******   @oreolnoumodong@outlook.com    ************/

body {
    /*background-color: #f1f1f1;*/
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 16px;

}

#root {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.main {

    width: 33%;
    height: auto;
    margin: auto 10% auto auto;
    padding: 4%;
    background-color: #ffffff;
    float: right;
}
p,span{
    text-align: center;
    color: #8a8a8a;
    text-align: justify;
}

.content-left{
    width: 40%;
    height: auto;
    float: left;
    position: fixed;
}

.block-input .color-pink {
    margin-top: 10px;
    display: none;
}

.title {
    text-align: center;
    font-size: 20px;
}

.block-input {
    margin: 30px 10px 10px 10px;
}

.block-input-bottom {
    width:auto;
    margin: 30px 10px 100px auto;
}

.community{
    margin-top: 50%;
    margin-left: 10%;
    color: white;
    font-size: 35px;
    text-align: left;
}

.powerBy{
    margin-left: 1%;
    margin-top: auto auto 0% 1%;
    margin-top: 52%;
}

input[type="checkbox"]{
    border-color: rgb(107, 106, 107);
}

/** IMG **/

.img-logo {
    width: 32px;
    height: 32px;
}

.img-community {
    width: 70px;
    height: 70px;
}

.img-content {
    margin-left:2%;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/*BUTTON, SELECT & TEXT INPUT CSS*/

.block-input input[type="text"],
.block-input input[type="password"],
select {
    width: 100%;
    padding: 10px;
    outline: 0;
}

.block-input{
   clear: right;
}

.input-right{
    float: right;
    width: 45%;
    margin: auto auto 20px auto;
}

.input-left {
    float: left;
    width: 45%;
    margin: auto auto 20px auto;
}

/*INPUT -TEXT CSS*/

input[type="text"],
.block-input input[type="password"],
select {
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #8a8a8a;
}

/*INPUT -BUTTON CSS*/

input[type="button"] {
    background-color: #2eb5bb;
    border-radius: 100px;
    border-color: transparent;
    color: white;
    font-size: 16px;
    letter-spacing: 5px;
    box-shadow: 1px 1px 1px 1px rgb(196, 195, 195);
    padding: 10px 20px 10px 20px;
    outline: 0;
    float: right;

}

input[type="button"]:hover {
    background-color: #2eb5bb;
}

/*******/

.color-pink {
    color: #2eb5bb;
    font-weight: bold;
}

.color-pinks {
    color: #2eb5bb;
}

.color-yellow {
    color: #f9bc41;
}

.bg-black {
    background-color: rgb(161, 161, 161);
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
}

/*** @@@ MEDIA QUERY **/

@media only screen and (max-width:900px) {

    .main {

        width: 100%;
        height: auto;
        background-color: #ffffff;
    }

    .content-left {
        width: 80%;
    }

    .content-left {
        position: relative;
        width: auto;
    }

    .community {
        margin-top: 1%;
        margin-left: 1%;
        font-size: 20px;
    }

    .img-community {
    width: 40px;
    height: 40px;
    }
    .powerBy {
      display: none;
    }

    .content-left {
        
        float: none;
    }

    .main {

        float: none;
    }

    .input-right {
        float: none;
        width: 100%;
    }

    .input-left {
        float: none;
        width: 100%;
    }

    input[type="button"] {
        font-size: 12px;
    }
}